{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if listings %}
    <ul>
        {% for listing in listings %}
        <li> 
            {% load static %} 
            <h3>{{ listing.title }}</h3>
            <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
            <p>{{ listing.description }}</p>
            <p>Current Price: {{ listing.start_bid }}</p>
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>There are no Active Listings</p>
    {% endif %}
    
    
{% endblock %}