{% extends "auctions/layout.html" %}

{% block body %}

{% if user.is_authenticated %}

    {% if listing in user.watchlist.listings.all %}
        <h5><a href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a></h5>

    {% else %}
        <h5><a href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a></h5>
    {% endif %}
    
{% endif %}

<ul>
     <li>
        {% load static %} 
        <h3>{{ listing.title }}</h3>
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
        <h4>Item description from the seller</h4>
        <p>{{ listing.description }}</p>
        <p>Current Price: {{ listing.start_bid }}</p>
        {% if user.is_authenticated %}
            {% if not bid_placed %}
                <form method="post" action="{% url 'set_bid' listing.id %}">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                             {{ form.errors.place_bid }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Place Bid</button>
                </form>
            {% endif %}
        {% endif %}
        <p>Category: {{ listing.category }}</p>
        <p>Published by: {{ listing.created_by.username }}</p>
    </li>
</ul>

<!---  Acá hay que ver que pasa cuando no hay imagen y que pasa cuando no hay 
       categoría.  -->

{% endblock %}