{% extends "auctions/layout.html" %}

{% block body %}

{% if user.is_authenticated %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if listing in user.watchlist.listings.all %}
        <h5><a href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a></h5>

    {% else %}
        <h5><a href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a></h5>
    {% endif %}
    
{% endif %}

<ul>
     <li>
        {% load static %} 
        <h3>{{ listing.title }}</h3>
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
        <h4>Item description from the seller</h4>
        <p>{{ listing.description }}</p>
        <p>Current Price: {{ listing.start_bid }}</p>

        {% if user.is_authenticated and user != listing.created_by and listing.active_status != False %}

            <form method="post" action="{% url 'set_bid' listing.id %}">
                {% csrf_token %}
                {{ form1.as_div }}
                <button type="submit" name="new_bid">Place Bid</button>
            </form>

        {% endif %}

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'add_comment' listing.id %}">
                {% csrf_token %}
                {{ form2.as_div }}
                <button type="submit" name="new_comment">Add Comment</button>
            </form>
        {% endif %}

        <p>Category: {{ listing.category }}</p>
        <p>Published by: {{ listing.created_by.username }}</p>
        <p>Date: {{ listing.pub_date }}</p>

        {% if user.is_authenticated and user == listing.created_by %}

            <h5><a href="{% url 'close_listing' listing.id %}">Close Listing</a></h5>

        {% endif %}

<!--- Ver si aca agregamos un slot para las fechas.   -->
        {% if comments %}

        <h3>Comments:</h3>

            {% for comment in comments %}
                
              <p>User: {{ comment.user.username }}</p>
              <p>Comment: {{ comment.comment }}</p>
              <p>date: {{ comment.created_at }}</p>

            {% endfor %}

        {% endif %}
    </li>
</ul>

<!---  Acá hay que ver que pasa cuando no hay imagen y que pasa cuando no hay 
       categoría.  -->

{% endblock %}